* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: transparent;
    overflow: hidden;
}

body {
  background-color: rgba(255,255,255, 0.01);
  cursor: none;
}

#cursor {
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    z-index: -1;
}

#controllers:hover ~ #cursor {
    visibility: hidden;
}

#controllers {
    position: absolute;
    top: 20px;
    left: 0;

    background-color: rgba(255,255,255, 0.8);
    padding:8px 16px;

    border-radius: 6px;

    display: flex;
    align-items: center;

    z-index: 1;
}

#controllers input {
    margin-right: 8px;   
    cursor: pointer;
}

#controllers label,
#controllers label + input {
    margin-left: 8px;
    margin-right: 0px;
    cursor: pointer;
}

#controllers .drag-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: -1;
    cursor: move;
}


#tools {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#board {
    border-top: 1px solid #7159c1;
}

input[type='color'] {
    border: 0;
    height: 2rem;
    width: 3rem;
    border-radius: 2px;
    padding: 2px;
    background-color: transparent;
    cursor: pointer;
}

input[type='range'] {
    -webkit-appearance: none;
    height: 0.3rem;
    border-radius: 5px;  
    background: #7159c1;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1rem;
    height: 1rem;
    border-radius: 50%; 
    background: #2e2352;
    cursor: pointer;
}

input[type='range']::-moz-range-thumb {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: #2e2352;
    cursor: pointer;
}



input[type='radio']{
    width: 0;
    height: 0;
    visibility: hidden;
}

input[type='radio'] + label {
    border: 0;
    height: 3rem;
    width: 3rem;
    border: transparent 2px solid;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type='radio'] + label svg {
    height: 2.2rem;
    min-width: 2.2rem;
    fill: #7159c1;
    cursor: pointer;
}

input[type='radio']:checked + label svg {
    fill: #2e2352;
}
