@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto, sans-serif;
}

html {
    background-color: transparent;
    overflow: hidden;
}

body {
  background-color: rgba(255,255,255, 0.01);
}

#settingsVisible {
    position: absolute;
    display: none;
}

#settingsVisible:checked ~ #settings {
    opacity: 0;
    visibility: hidden;
    width: 0;
}

#settingsVisible:checked ~ #settings * {
    opacity: 0;
    visibility: hidden;
}

#settingsVisible:not(:checked) ~ #controllers {
    visibility: hidden;
}


#cursor {
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    z-index: -1;
}


#controllers {
    position: absolute;
    top: 20px;
    left: 0;

    background-color: rgba(255,255,255, 0.8);
    
    padding:8px 16px;

    border: 1px dashed #7159c1;
    border-radius: 6px;

    z-index: 1;
}

#controllers:hover {
    border: 1px solid #7159c1;
}

#controllers:hover ~ #cursor {
    visibility: hidden;
}

#controllers:hover #extraControllers {
    height: 20px;
    opacity: 100%;
}

#controllers .drag-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: -1;
    cursor: move;
}

#controllers .drag-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background: transparent;
    z-index: -1;
    cursor: move;
}

#controllers .drag-area:hover {
    background-color: #7159c1;
}

#basicControllers {
    background-color: transparent;
    display: flex;
    align-items: center;
}

#basicControllers input + * {
    margin-right: 8px;   
    cursor: pointer;
}

#basicControllers label,
#basicControllers label + input {
    margin-left: 8px;
    margin-right: 0px;
    cursor: pointer;
}


#extraControllers {
    width: 100%;
    height: 0;
    opacity: 0%;
    transition: height 0.3s 1s ease-in, opacity 0.3s 1s ease;

    display: flex;
    
}

#extraControllers div {
    display: flex;
    align-items: flex-start;
    cursor: pointer;
}

#extraControllers div + div {
    margin-left: 20px;
}

#extraControllers div label {
    font-size: 12px;
    text-align: center;
    cursor: pointer;
}

#extraControllers div a {
    text-decoration: none;
    font-size: 12px;
    text-align: center;
}

#extraControllers div a:visited {
    text-decoration: inherit;
    color: inherit;
}

#extraControllers div svg {
    height: 12px;
    width: 12px;
    margin-right: 3px;
}




#tools {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


#settings {
    position: absolute;
    width: 300px;
    height: 100%;
    background-color: #7159c1;
    padding: 20px;
    color: white;
    letter-spacing: 0.1rem;
    transition: 0.5s;
    text-shadow: 1px 1px 1px #2e2352;
}

#settings header {
    display: flex;    
    justify-content: space-between;
    border-bottom: 1px solid white;
    padding-bottom: 0.5rem;
}

#settings header h3 {
    font-size: 1.5rem;
}


#settings header label {
    cursor: pointer;
}

#settings main {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}

#settings main h5 {
    margin-top: 20px;
    font-weight: normal;
    font-size: 14px;
    padding-bottom: 8px;
}

#settings main div.row {
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 35px;
}

#settings main div.row p {
    font-size: 12px;
}



#board {
    border-top: 1px solid #7159c1;
    cursor: none;
}


input[type='color'] {
    border: 0;
    height: 2rem;
    width: 3rem;
    border-radius: 2px;
    padding: 2px;
    background-color: transparent;
    cursor: pointer;
}

input[type='range'] {
    -webkit-appearance: none;
    height: 0.3rem;
    border-radius: 5px;  
    background: #7159c1;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1rem;
    height: 1rem;
    border-radius: 50%; 
    background: #2e2352;
    cursor: pointer;
}

input[type='range']::-moz-range-thumb {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: #2e2352;
    cursor: pointer;
}



input[type='radio']{
    width: 0;
    height: 0;
    visibility: hidden;
}

input[type='radio'] + label {
    border: 0;
    height: 3rem;
    width: 3rem;
    border: transparent 2px solid;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type='radio'] + label svg {
    height: 2.2rem;
    min-width: 2.2rem;
    fill: #7159c1;
    cursor: pointer;
}

input[type='radio']:checked + label svg {
    fill: #2e2352;
}





label.switch {
    position: relative;
    display: inline-block;
    width: 38px;
    height: 20px;
}
  
label.switch input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
}
  
label.switch span {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}
  
label.switch span:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}
  
label.switch input[type="checkbox"]:checked + span {
    background-color: #2e2352;
}

label.switch input[type="checkbox"]:checked + span:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(18px);
}
  