* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: transparent;
    overflow: hidden;
}

#controllers {
    position: absolute;
    top: 20px;
    left: 0;
}
#board {
    border-top: 1px solid #7159c1;
}