* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
	background-image: url("transparent.png") ;
	background-size: cover;
	overflow: hidden; 
}

#controllers {
    position: absolute;
    top: 20px;
    left: 0;
}
#board {
    border-top: 0px solid #7159c1;

}